.box{
  border: 1px solid red;
  width: 1024px;
  margin: 10px;
  height: 800;
}
.box1{
  border: 1px solid red;
  margin: 20px;
  width: 980px;
  height: 100px;
  padding: 10px;
}
.box2{
  border: 1px solid red;
  width: 980px;
  height: 300px;
  padding: 10px;
  margin: 20px;
}
.box3{
  margin: 20px;
  border: 1px solid red;
  width: 980px;
  height: 100px;
  padding: 10px;
}